@use 'variaveis';




.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$corDeFundo;
    transition: background-color .5s ease;
    z-index: 1000;

    &--is-hidden{
        background-color: transparent;

        .header{
            transition: background-color .5s ease, opacity .5s ease; // Combinei as transições
        }

        .header__logo{
            opacity: 0;
            visibility: hidden;
        }

        .header__links__item:first-child{
            opacity: 0;
            visibility: hidden;
        }
    }

    &__container {
        padding: 0px 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow: visible;

        @media(max-width: 768px){
            padding: 0 12px 0 20px;
        }
    }

    &__logo {
        max-width: 80px;
        width: 100%;
        height: auto;
        flex-shrink: 0;
        z-index: 1;
        flex-basis: 80px;
        margin: 5px;
        transition: opacity .5s ease;

        @media(max-width: 768px){
            max-width: 64px;
        }
    }

    &__links {
        display: flex;
        align-items: center;

        &__item {
            margin: 5px;
            transition: opacity .5s ease;
        }
    }
    .button{
        margin-top: 8px;
        height: 50px;

        

        @media(max-width: 768px){
            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
            letter-spacing: 0;
        }
    }
}